footer {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid hsl(220, 2%, 75%);
    background: #fff;
    position: fixed;
    bottom: 0;
    /* padding: 0 0 0 10px; */
}

footer::before {
    width: 100%;
    height: 12px;
    content: '';
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("bosch.jpg");
    position: fixed;
    bottom: 0;
}


p {
    display: inline-block;
    width: calc(100% - 320px);
    text-align: left;
    font-size: 20px;
    vertical-align: center;
    padding: 5px 0 15px 10px !important;
}