@import "./../reset.css";




.search-content {
  position: fixed;
  background-color: #f6f6f6;
  min-width: 245px;
  // overflow: auto;
  margin-left: 2px;

  i{
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 3px;
    margin-left: 5px;
  }
  .search{
    box-sizing: border-box;
    background-position: 14px 12px;
    font-size: 16px;
    padding: 8px 8px;
    border: 1px solid #ddd;
    width: 205px;
    font-size: 16px;
  }
}

.search-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  max-width: 215px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

li:hover {background-color: #ddd;}

.postcords_div {
  margin-left: 250px;
}

.card {
  // width: 980px;
  // margin: 0 auto;
  margin-right: 25px;
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  transition: all 0.5s;
  border: 1.5px solid #fff;
  &:focus,
  &:active,
  &:hover {
    border: 1.5px solid #eee;
    box-shadow: 0 8px 6px -6px #aaa;
    border-radius: 5px;
    .head {
      label {
        color: #e9e9e9;
        background: #005691;
      }
    }
    strong,
    i {
      color: #005691 !important;
    }
  }
  .head {
    label {
      display: inline-block;
      width: 35px;
      height: 35px;
      text-align: center;
      background: #e9e9e9;
      border-radius: 50%;
      line-height: 35px;
      font-size: 14px;
      transition: all 0.5s;
    }
    strong {
      font-size: 24px;
      vertical-align: sub;
      margin: 0 10px;
      width: calc(100% - 135px);
      display: inline-block;
    }
    span {
      font-size: 14px;
    }
  }
  .desc {
    margin-left: 45px;
    color: #868686;
    font-size: 14px;
  }
  .presenters {
    margin-left: 45px;
    font-size: 14px;
    display: inline-block;
    margin: 10px 0 10px 45px;
    h5 {
      font-size: 14px;
    }
    li {
      color: #868686;
      line-height: 20px;
    }
  }
  .resources {
    margin-right: 10px;
    font-size: 14px;
    float: right;
    i {
      width: 35px;
      height: 35px;
      font-size: 35px;
      float: left;
      cursor: pointer;
    }
  }

  .downloads {
    margin-left: 35px;
    li {
      display: inline-block;
      padding: 5px;
      p {
        display: inline-block;
        padding: 5px;
        font-size: 14px;
        color: #005691;
        cursor: pointer;
        vertical-align: sub;
        span {
          background: #005691;
          text-decoration: none;
          color: #fff;
          margin-right: 5px;
          padding: 2px;
          font-size: 10px;
        }
      }
    }
  }

  .upload {
    float: right;
    cursor: pointer;
    form {
      i {
        width: 35px;
        height: 35px;
        font-size: 35px;
        float: left;
        cursor: pointer;
      }
      input {
        opacity: 0;
        width: 35px;
        height: 35px;
        float: left;
        margin-left: -35px;
        cursor: pointer;
      }
    }
  }

  .admin-notify {
    float: right;
    i {
      width: 35px;
      height: 35px;
      font-size: 35px;
      float: left;
      cursor: pointer;
    }
  }
}
