@import "./../reset.css";
@import "./../font-icon.css";

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

div.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.rb-button {
  appearance: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: opacity cubic-bezier(0.38, 0.04, 0.35, 0.96) 600ms;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 8px 12px;
  font-size: 16px;
  margin-bottom: 5px;
}

.rb-button--primary {
  border-color: #005691;
  background-color: #005691;
  color: #fff;
}
