header {
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #bfc0c2;
  background: #fff;
  padding: 10px 0 0;
}

header::before {
  width: 100%;
  height: 16px;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("bosch.jpg");
  position: absolute;
  top: 0;
}

img {
  width: 130px;
  display: inline-block;
  margin: 18px 100px 0 10px;
}

h1 {
  display: inline-block;
  width: calc(100% - 520px);
  /* margin-left: 550px; */
  text-align: center;
  font-size: 28px;
  vertical-align: top;
  /* padding: 18px 0 0 !important; */
}
.signup {
  float: right;
  margin-top: 20px;
  margin-right: 15px;
  a {
    display: inline-block;
    font-size: 14px;
    margin: 10px;
    color: #005691;
  }
  .blink{
    animation: blink 1s infinite;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

h3 {
  float: right;
  margin-top: 40px;
  margin-right: 5px;
  font-size: 18px;
}
.h3 {
  float: right;
  margin-top: 20px;
  margin-right: 15px;
  font-size: 18px;
  z-index: 1;
}
