header {
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #bfc0c2;
    background: #fff;
    padding: 10px 0 0;
}

header::before {
    width: 100%;
    height: 16px;
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("bosch.jpg");
    position: absolute;
    top: 0;
}

img {
    width: 130px;
    display: inline-block;
    margin: 18px 100px 0 10px;
}

h1 {
    display: inline-block;
    width: calc(100% - 520px);
    /* margin-left: 550px; */
    text-align: center;
    font-size: 28px;
    vertical-align: top;
    /* padding: 18px 0 0 !important; */
}
.signup{
    float: right;
    margin-top: 20px;
    margin-right: 15px;
}
.dropdown{
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 18px;
    i {
        margin-top: 5px;
        width: 35px;
        height: 35px;
        font-size: 35px;
        float: inherit;
        cursor: pointer;
        margin-right: 55px;
    }
    .dropdown-content {
        min-width: 160px;
        margin-top: 55px;
        }
        .dropdown-content p {
            color: black;
            min-width: 100px;
            padding: 3px 25px 0px 40px;
            text-decoration: none;
            text-align: center;
            display: block;
            cursor: pointer;
            border-style: groove;
            }
            .dropdown-content p:hover {background-color: #ddd;}
}

h3{
    float: right;
    margin-top: 40px;
    margin-right: 5px;  
    font-size: 18px;  
}
.h3{
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 18px;
}