header {
    width: 100%;
    height: 16px;
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("../bosch.jpg");
}

img {
    padding: 17px;
    margin-top: 6px;
    display: block;
    width: 160px;
    height: auto;
}
