.login {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    background: #fff;
    > div {
      margin-bottom: 10px;
    }
    p{
      font-size: 18px;
      color: #4a4a4a;
      margin-bottom: 10px;
    }
    label {
      width: 140px;
      font-size: 14px;
      display: inline-block;
      color: #4a4a4a;
      &.required {
        &::after {
          content: '*';
          color: red;
          font-size: 14px;
          display: inline-block;
          margin-left: 2px;
        }
      }
    }
    input {
      width: calc(100% - 158px);
      display: inline-block;
      padding: 8px;
      border-radius: 0;
      font-size: 14px;
      border: 1px solid #ccc;
      margin-bottom: 5px;
      color: #4a4a4a;
      
    }
    .valid{
      background-image: url('../fonts/success.png');
      border-color: seagreen;
      background-position: right;
      background-repeat: no-repeat;
      background-size: 20px;
      // background-size: contain;
    }
    .invalid{
      border-color: #cb2431;
      background-image: url('../fonts/error.png');
      background-position: right;
      background-repeat: no-repeat;
      background-size: 20px;
      // background-size: contain;
    }
    .loading{
      background-image: url('../fonts/inbox-spinner.gif');
      background-position: right;
      background-repeat: no-repeat;
      background-size: 20px;
    }
    button {
      float: right;
      margin-top: 10px;
    }
  }
  