body {
    background-color: #fadcac;
}

.main-heading {
    color: #158467;
    font-family:'Roboto',sans-serif;
}

.search {
    font-family: 'Roboto',sans-serif;
    border: 0.3em solid #FFFFFF;
    font-weight: 500;
    margin : 1em;
}

.postCard{
    width: auto;
    margin: 10px;
    border: 0.3em solid #065446;
    box-shadow: 2px 2px 3px;
    padding: 16px;
    text-align: left;
}
.sub{
    width: auto;
    margin: auto;
    border: 5px solid #eee;
    box-shadow: 2px 2px 3px;
    padding: 10px;
    text-align: left;
    background-color: antiquewhite;

    
}
.forbuttons{
    display: flex;
    margin-right: 50px;

}

p{
    margin: 1px;
}
a{
    padding: 6  px;
}

.hyper{
    margin-left: 5px;
    padding: 2px;
    display: flex;
}
.button {
    background-color: #065446;
    width: 100px;
    height: 50px;
    border:0.3em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    margin:0.3em;
    color: #fadcac;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    font-size: medium;
    text-align : center; 
    padding: 0.35em 1.2em;
    transition: all 0.1s;
  }

  .button:hover{
    color: #000000;
    background-color: #FFFFFF;

    }

.part{
    display: flex;

}
 