.feedback {
  position: relative;
  height: 420px;
  width: 80%;
  margin: 10px auto 10px auto;
  background: #fff;
  h1 {
    position: absolute;
    top: 10%;
    left: 20%;
    margin: 0;
    width: 60%;
    padding: 1em;
  }
  textarea {
    position: absolute;
    top: 30%;
    left: 20%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
  }
  button {
    position: absolute;
    bottom: 1%;
    right: 8%;
  }
}
