.feedback {
  position: relative;
  height: 420px;
  width: 70%;
  margin: 10px auto 10px auto;
  h1 {
    position: absolute;
    width: fit-content;
    margin: 10px auto 10px auto;
    text-align: center ;
  }
  textarea {
    position: absolute;
    top: 30%;
    left: 14%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 0.5em;
    // box-sizing: border-box;
  }
  button {
    position: absolute;
    bottom: 0.1%;
    right: 10%;
  }
}

.placeholder{
  position: absolute;
  top: 15vh;
  left: 10vh;
  width: 90%;
  z-index: -1;
  .about{
    background-color: white;
    padding: 10px;
    margin: 20px auto 20px;
    text-align: center;
    top: 50vh;
    label {
      background-color: ivory;
      font-size: 24px;
      display: inline-block;
    }
    p{
      font-size: 16px;
      padding: 5px;
      // display: inline-block;
    }
    .contact{
      background-color: lightblue;
      margin-top: 20px;
    }
    .technologies{
      margin-top: 20px;
      ul{
        list-style-type: square;
        width: 300px;
        p{
          list-style:disc outside none;
          display:list-item; 
          margin-left: 20px;
        }
      }
      .techlist{
        padding: 5px;
        display: flex;
        p{
          padding: 5px;
        }
      }
    }
  }
}