.agenda{
    width: 980px;
    background: #fff;
    padding: 15px;
    margin: 0 auto 15px;
    border: 1.5px solid #fff;
    h2 {
        font-weight: bold;
        color: #005691;
        padding: 0 0 15px 10px;
        text-decoration: underline;
    }
    ul {
        display: block;
        li {
            display: block;
            margin-bottom: 10px;
            &.title {
                display: inline-block;
                width: 65%;
            }
            &.date {
                display: inline-block;
                width: 35%;
            }
            &.presenter {
                display: inline-block;
                width: 40%;
            }
            &.topic {
                display: inline-block;
                width: calc(60% - 35px);
            }
            &.remove {
                display: inline-block;
                width: 35px;
            }
            label {
                width: 120px;
                display: inline-block;
                padding: 10px 0 0 10px;
                vertical-align: top;
            }
            input, textarea {
                padding: 8px;
                border-radius: 0;
                font-size: 16px;
                border: 1px solid #ccc;
                width: calc(100% - 130px - 18px);
            }
            textarea {
                height: 98px;
                resize: none;
            }
        }
    }
    .presenters {
        i {
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
        }
        h4 {
            font-weight: bold;
            color: #005691;
            padding: 10px 0 20px 10px;
            i {
                float: right;
                background: #005691;
                color: #fff;
            }
        }
        .remove {
            i {
                margin-left: 9px;
                background: #ccc;
                color: #005691;
            }
        }
    }
    .submit {
        margin-top: 10px;
        button {
            float: right;
        }
    }
}