table {
  border-collapse: collapse;
  width: calc(100% - 20px);
  background: #fff;
  margin: 10px;

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  td {
    font-size: 14px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  button {
    cursor: pointer;
    border: none;
    padding: 5px;
    color: white;
    &.aprove {
      background: green;
    }
    &.reject {
      background: red;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
