html,
body,

h2,

h4,
h5,
h6,
ul,
li,
ol,
p {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
* {
  font-family: Bosch Sans;
}
:focus {
  outline: none;
}
body {
  background: #f3f3f3;
  margin-bottom: 40px;
}

.clear {
  clear: both;
}
