html,
body,

h2,

h4,
h5,
h6,
ul,
li,
ol,
p {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
* {
  font-family: Bosch Sans;
}

body {
  background: #f3f3f3;
}

.clear {
  clear: both;
}
