footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #fff;
    color: darkgrey;
    font-size: 14px;
    border-top: 1px solid #eee;
    span {
        display: inline-block;
        padding: 5px 10px;
        &:last-child {
            float: right;
        }
    }
}